#score {
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Pokemon Classic;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
    z-index: 999;
}

@font-face {
    font-family: 'Pokemon Classic';
    font-style: normal;
    font-weight: normal;
    src:local('Pokemon Classic'), url('pokemon_classic-webfont.woff') format('woff')
}

@font-face {
    font-family: 'PP Mondwest';
    font-style: normal;
    font-weight: normal;
    src:local('PP Mondwest'), url('ppmondwest-regular-webfont.woff') format('woff')
}

@font-face {
    font-family: 'PP NeueBit';
    font-style: normal;
    font-weight: normal;
    src:local('PP NeueBit'), url('ppneuebit-bold-webfont.woff') format('woff')
}

#timer {
    position: absolute;
    top: 22px;
    left: 210px;
    font-family: Pokemon Classic;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#game-container {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pokemon {
    position: absolute;
    z-index: 1;
}

#score {
    text-align: center;
    font-size: 24px;
    color: white;
    display: none;
}

#logo {
    width: 30rem;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 2;
    color: black;
    font-family: Pokemon Classic;
}

#replay-btn {
    display: block;
    margin: 0 auto; /* 수평 가운데 정렬 */
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1c5acb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Pokemon Classic;
    font-size: 16px;
}


/* 추가된 스타일 */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-image: url('imgs/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif; /* 전체 폰트 지정 */
    color: white; /* 기본 텍스트 색상 */
}


.home {
    position: fixed;
    top: 50px; /* 버튼이 보여야 할 위치로 수정 */
    left: 88.5%; /* 버튼이 보여야 할 위치로 수정 */
    z-index: 999;
}

.home img {
    width: 4vw;
    height: auto;
    transition: transform 0.3s ease-in-out; /* 호버 효과를 위한 트랜지션 */

}

.home img:hover {
    transform: translateY(-10px); /* 호버 시 이미지를 위로 이동 */
}

.info {
    position: fixed;
    top: 50px; /* 버튼이 보여야 할 위치로 수정 */
    left: 94%; /* 버튼이 보여야 할 위치로 수정 */
    z-index: 999;
}

.info img {
    width: 4vw;
    height: auto;
    transition: transform 0.3s ease-in-out; /* 호버 효과를 위한 트랜지션 */

}

.info img:hover {
    transform: translateY(-10px); /* 호버 시 이미지를 위로 이동 */
}

.info-box {
    position: fixed;
    top: 140px;
    left: 84%;
    transform: translateX(-50%);
    width: 25%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    display: none; /* 초기에는 숨김 */
    font-family: Pokemon Classic;
}

.info-box.show {
    display: block; /* 보여질 때만 표시 */
}

.info-content {
    text-align: left;
}

.info-content h2 {
    margin-top: 0;
}

.info-content ol {
    margin-top: 0;
    padding-left: 20px;
}

.info-content img {
    display: block;
    margin: 10px auto; /* 이미지를 가운데 정렬합니다. */
    max-width: 50%; /* 이미지가 너무 크면 부모 요소에 맞게 크기를 조정합니다. */
}

h2{
    font-size: 1.3rem;
}

p{
    font-size: 0.9rem;
}

ol{
    font-size: 0.7rem;
}

@media only screen and (max-width: 375px) {

    #logo {
        width: 21rem;
        cursor: pointer;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #score {
        position: absolute;
        top: 95%;
        left: 20px;
        font-family: Pokemon Classic;
        font-size: 15px;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
        z-index: 999;
    }
    
    #timer {
        position: absolute;
        top: 95.5%;
        left: 140px;
        font-family: Pokemon Classic;
        font-size: 12px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none;
    }

    #result {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        display: none;
        z-index: 2;
        color: black;
        font-size: 11px;
        font-family: Pokemon Classic;
    }

    .home {
        position: fixed;
        top: 50px; /* 버튼이 보여야 할 위치로 수정 */
        left: 38%; /* 버튼이 보여야 할 위치로 수정 */
    }
    
    .home img {
        width: 10vw;
        height: auto;
        transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 트랜지션 */
    
    }
    
    .home img:hover {
        transform: none;}

    
    .info {
        position: fixed;
        top: 50px; /* 버튼이 보여야 할 위치로 수정 */
        left: 53%; /* 버튼이 보여야 할 위치로 수정 */
    }
    
    .info img {
        width: 10vw;
        height: auto;
    
    }
    
    .info img:hover {
        transform: none;
    }

    .info-box {
        position: fixed;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        max-width: 600px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black;
        display: none; /* 초기에는 숨김 */
        font-family: Pokemon Classic;
    }
    
    .info-box.show {
        display: block; /* 보여질 때만 표시 */
    }
    
    .info-content {
        text-align: left;
    }
    
    .info-content h2 {
        margin-top: 0;
    }
    
    .info-content ol {
        margin-top: 0;
        padding-left: 20px;
    }
    
    .info-content img {
        display: block;
        margin: 10px auto; /* 이미지를 가운데 정렬합니다. */
        max-width: 50%; /* 이미지가 너무 크면 부모 요소에 맞게 크기를 조정합니다. */
    }
    
    h2{
        font-size: 0.8rem;
    }
    
    p{
        font-size: 0.5rem;
    }
    
    ol{
        font-size: 0.7rem;
    }
}