

.input-box {
    margin-bottom: 20px;
    position: absolute;
    top: 630px;
    left: 70.7%;
    z-index: 999;
    font-family: PP Mondwest;
}

@font-face {
    font-family: 'Pokemon Classic';
    font-style: normal;
    font-weight: normal;
    src:local('Pokemon Classic'), url('pokemon_classic-webfont.woff') format('woff')
}

@font-face {
    font-family: 'PP Mondwest';
    font-style: normal;
    font-weight: normal;
    src:local('PP Mondwest'), url('ppmondwest-regular-webfont.woff') format('woff')
}

@font-face {
    font-family: 'PP NeueBit';
    font-style: normal;
    font-weight: normal;
    src:local('PP NeueBit'), url('ppneuebit-bold-webfont.woff') format('woff')
}

#textInput {
    font-family: 'PP Mondwest', sans-serif;
    font-size: 1rem;
}

#textDisplay {
    width: 200px;
    height: 50px;
    padding: 10px;
    overflow-y: auto;
    font-family: PP NeueBit, sans-serif;
    position: absolute;
    top: 1.3rem;
    left: 2rem;
    z-index: 4;
    font-weight: 500;
    font-size: 2rem;
    backface-visibility: hidden;
    text-transform: uppercase;
    text-shadow: 
        -0.15px -0.15px 0 #000,  
        0.15px -0.15px 0 #000,
        -0.15px  0.15px 0 #000,
        0.15px  0.15px 0 #000;
}

#imageUpload {
    position: absolute;
    top: 480px;
    left: 71%;
    width: 200px;
    font-family: PP Mondwest;
}

#uploadedImage img {
    width: 400px;
    height: 220px;
    margin-top: 19px;
    position: absolute;
    top: 2.7rem;
    left: 50%;
    transform: translateX(-50%);
    backface-visibility: hidden;
    z-index: 0;
}

#uploadedImage {
    backface-visibility: hidden;
}

.custom-file-upload {
    font-family: PP Mondwest;
}

.moveContainer {
    position: absolute;
    z-index: 2;
}

#moveContainer1 {
    top: 70%;
    left: 20%;
}

#moveContainer2 {
    top: 80%;
    left: 20%;
}

.moveSelect {
    width: 200px;
    height: 60px;
    font-family: PP Mondwest;
    border-radius: 0px;
    font-size: 1rem;
    text-align: center;
    
}

.typeb img {
    width: 200px; /* 이미지의 가로 크기를 조정 */
    height: auto; /* 이미지의 세로 크기를 조정 */
}

.typeb {
    position: absolute; /* 절대 위치 지정 */
    top: 400px; /* 원하는 위치로 조정 */
    left: 20%; /* 원하는 위치로 조정 */
}

.moveb img {
    width: 200px; /* 이미지의 가로 크기를 조정 */
    height: auto; /* 이미지의 세로 크기를 조정 */
}

.moveb {
    position: absolute; /* 절대 위치 지정 */
    top: 550px; /* 원하는 위치로 조정 */
    left: 20%; /* 원하는 위치로 조정 */
}

.fileb img {
    width: 200px; /* 이미지의 가로 크기를 조정 */
    height: auto; /* 이미지의 세로 크기를 조정 */
}

.fileb {
    position: absolute; /* 절대 위치 지정 */
    top: 400px; /* 원하는 위치로 조정 */
    left: 70%; /* 원하는 위치로 조정 */
}

.nameb img {
    width: 200px; /* 이미지의 가로 크기를 조정 */
    height: auto; /* 이미지의 세로 크기를 조정 */
}

.nameb {
    position: absolute; /* 절대 위치 지정 */
    top: 550px; /* 원하는 위치로 조정 */
    left: 70%; /* 원하는 위치로 조정 */
}

.moveDetails {
    width: 60%;
    position: absolute;
    z-index: 1;
    font-size: 1rem; /* 원하는 폰트 크기로 조정 */
}

.moveDetails1 {
    position: absolute;
    top: 18.5rem;
    left: 5%;
    width: 100%;
    z-index: 3;
    font-family: PP NeueBit, sans-serif;
    backface-visibility: hidden;
}

.moveDetails2 {
    top: 23rem;
    left: 5%;
    width: 100%;
    font-family: PP NeueBit, sans-serif;
    z-index: 3;
    backface-visibility: hidden;
}

.moveName, .moveEffect {
    width: 90%; /* moveDetails에 대해 상대적인 너비 */
}


.moveName {
    font-weight: 500;
    text-transform: uppercase; /* 모든 텍스트를 대문자로 변환 */
    text-shadow: 
        -0.15px -0.15px 0 #000,  
         0.15px -0.15px 0 #000,
        -0.15px  0.15px 0 #000,
         0.15px  0.15px 0 #000;
}

.moveEffect {
    top: 50%;
    transform: translateY(-50%);
}

#typeSelect {
    width: 200px;
    height: 30px; /* 조정된 값 */
    font-family: PP Mondwest;
    font-size: 1rem;
    text-align: center;
}

#typeSelect {
    position: absolute; /* 절대 위치 지정 */
    top: 53%; /* 원하는 위치로 조정 */
    left: 20%; /* 원하는 위치로 조정 */
}

#typeImage {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

#background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.flip-container {
    perspective: 1000px;
    position: relative;
    display: inline-block;
    width: 400px;
    height: 575px;
}

.flip-container .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container .front,
.flip-container .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container .front {
    z-index: 2;
}

.flip-container .back {
    transform: rotateY(180deg);
}

.button-download img {
    width: 4vw;
    height: auto;
}

.button-wrapper .button img {
    width: 4vw;
    height: auto;
}

.button-wrapper {
    position: fixed;
    top: 50px;
    left: 88%; /* 왼쪽 상단에 위치하도록 변경 */
    display: flex;
    flex-direction: row;
}

.button-wrapper .button {
    margin-right: 10px; /* 버튼 사이의 간격을 조정하려면 margin 속성을 사용합니다. */
    
}

.button-wrapper img:hover {
    transform: translateY(-10px); /* 호버 시 이미지를 위로 이동 */
}

.button-wrapper img {
    transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 트랜지션 */
  }

.home {
    position: fixed;
    top: 50px; /* 버튼이 보여야 할 위치로 수정 */
    left: 77.5%; /* 버튼이 보여야 할 위치로 수정 */
}

.home img {
    width: 4vw;
    height: auto;
    transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 트랜지션 */

}

.home img:hover {
    transform: translateY(-10px); /* 호버 시 이미지를 위로 이동 */
}

.info {
    position: fixed;
    top: 50px; /* 버튼이 보여야 할 위치로 수정 */
    left: 83%; /* 버튼이 보여야 할 위치로 수정 */
    z-index: 999;
}

.info img {
    width: 4vw;
    height: auto;
    transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 트랜지션 */

}

.info img:hover {
    transform: translateY(-10px); /* 호버 시 이미지를 위로 이동 */
}
.button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    background: none; /* 배경 제거 */
}

.front{
    z-index: 4;
}


.logo-container {
    position: fixed;
    top: 130px; /* 로고가 보여야 할 위치 */
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translateX(-50%); /* 화면 가로 중앙 정렬을 위해 필요 */
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-container img{
    width: 25%;
    height: auto;
}

.info-box {
    position: fixed;
    top: 140px;
    left: 84%;
    transform: translateX(-50%);
    width: 25%;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    display: none; /* 초기에는 숨김 */
    font-family: Pokemon Classic;
}

.info-box.show {
    display: block; /* 보여질 때만 표시 */
}

.info-content {
    text-align: left;
}

.info-content h2 {
    margin-top: 0;
}

.info-content ol {
    margin-top: 0;
    padding-left: 20px;
}

.info-content img {
    display: block;
    margin: 10px auto; /* 이미지를 가운데 정렬합니다. */
    max-width: 100%; /* 이미지가 너무 크면 부모 요소에 맞게 크기를 조정합니다. */
}

.step-title{
    font-size: 1rem;
}

.step{
    font-size: 0.8rem;
}

ol{
    font-size: 0.7rem;
}

     
@media only screen and (max-width: 375px) {
    .logo-container img {
        width: 35%; /* 로고 이미지의 너비를 조정합니다. */
        height: auto; /* 높이는 자동으로 조정됩니다. */
        margin-right: 50px;
        margin-top: 1px;
    }

    .flip-container {
        perspective: 1000px;
        position: relative;
        display: inline-block;
        width: 200px;
        height: 275px;
        margin-top: -95px !important; /* 요소를 위로 이동시킵니다. */
    }

    .button-download img {
        width: 10vw;
        height: auto;
    }
    
    .button-wrapper .button img {
        width: 10vw;
        height: auto;
    }
    
    .button-wrapper {
        position: fixed;
        top: 50px;
        left: 45%; /* 왼쪽 상단에 위치하도록 변경 */
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    
    .button-wrapper .button {
        margin-right: 0px; /* 수정된 부분 */
        background-color: transparent;
    }
    
    .button-wrapper img:hover {
        transform: none;
    }
    
    .button-wrapper img {
        transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 트랜지션 */
      }
    
    .home {
        position: fixed;
        top: 50px; /* 버튼이 보여야 할 위치로 수정 */
        left: 22%; /* 버튼이 보여야 할 위치로 수정 */
    }
    
    .home img {
        width: 10vw;
        height: auto;
        transition: transform 0.2s ease-in-out; /* 호버 효과를 위한 트랜지션 */
    
    }
    
    .home img:hover {
        transform: none;}

    
    .info {
        position: fixed;
        top: 50px; /* 버튼이 보여야 할 위치로 수정 */
        left: 34%; /* 버튼이 보여야 할 위치로 수정 */
    }
    
    .info img {
        width: 10vw;
        height: auto;
    
    }
    
    .info img:hover {
        transform: none;
    }

    .typeb img {
        width: 80px; /* 이미지의 가로 크기를 조정 */
        height: auto; /* 이미지의 세로 크기를 조정 */
    }
    
    .typeb {
        position: absolute; /* 절대 위치 지정 */
        top: 455px; /* 원하는 위치로 조정 */
        left: 15%; /* 원하는 위치로 조정 */
    }
    
    #typeSelect {
        width: 100px;
        height: 25px; /* 조정된 값 */
        font-family: PP Mondwest;
        font-size: 0.8rem;
        text-align: center;
    }
    
    #typeSelect {
        position: absolute; /* 절대 위치 지정 */
        top: 73%; /* 원하는 위치로 조정 */
        left: 13%; /* 원하는 위치로 조정 */
    }

    .fileb img {
        width: 80px; /* 이미지의 가로 크기를 조정 */
        height: auto; /* 이미지의 세로 크기를 조정 */
    }
    
    .fileb {
        position: absolute; /* 절대 위치 지정 */
        top: 455px; /* 원하는 위치로 조정 */
        left: 65%; /* 원하는 위치로 조정 */
    }
    
    .moveb img {
        width: 80px; /* 이미지의 가로 크기를 조정 */
        height: auto; /* 이미지의 세로 크기를 조정 */
    }
    
    .moveb {
        position: absolute; /* 절대 위치 지정 */
        top: 522px; /* 원하는 위치로 조정 */
        left: 15%; /* 원하는 위치로 조정 */
    }
    
    .nameb img {
        width: 80px; /* 이미지의 가로 크기를 조정 */
        height: auto; /* 이미지의 세로 크기를 조정 */
    }
    
    .nameb {
        position: absolute; /* 절대 위치 지정 */
        top: 522px; /* 원하는 위치로 조정 */
        left: 65%; /* 원하는 위치로 조정 */
    }

    .moveSelect {
        width: 120px;
        height: 30px;
        font-family: PP Mondwest;
        border-radius: 0px;
        font-size: 0.8rem;
        text-align: center;
        
    }

    #moveContainer1 {
        top: 83%;
        left: 10.5%;
    }
    
    #moveContainer2 {
        top: 89%;
        left: 10.5%;
    }

    #imageUpload {
        position: absolute; /* 절대 위치 지정 */
        top: 485px; /* 위에서 250px 떨어진 위치 */
        left: 62%; /* 부모 요소의 가운데 정렬 */
        width: 200px; /* 너비 조정 */
        font-family: PP Mondwest;
        font-size: 0.5rem;
    }

    #textInput {
        font-family: 'PP Mondwest', sans-serif;
        font-size: 0.5rem;
    }

    .input-box {
        margin-bottom: 20px;
        top: 550px; /* 위에서 100px 떨어진 위치 */
        left: 63%; /* 가운데 정렬 */
        z-index: 999;
    }


    #uploadedImage img{
        width: 200px; /* 이미지의 최대 가로 크기 */
        height: 110px; /* 이미지의 최대 세로 크기 */
        margin-top: -10px;
        top: 2.3rem; /* 이미지의 상단 위치 */
        left: 50%; /* 이미지를 가운데 정렬 */
        z-index: 0;
    }

    .moveDetails {
        width: 60%;
        position: absolute;
        z-index: 1;
    }
    
    .moveDetails1 {
        top: 9rem;
        left: 7%;
        z-index: 3;
    
    }
    
    .moveDetails2 {
        top: 11rem;
        left: 7%;
        z-index: 3;
    }
    
    .moveName, .moveEffect {
        width: 140%;
    }
    
    .moveName {
        font-size: 2rem;
    }
    
    .moveEffect {
        top: 48%;
        font-size: 0.7rem;
    }

    #textDisplay {
        width: 200px;
        height: 50px;
        padding: 10px;
        overflow-y: auto;
        font-family: PP NeueBit, sans-serif;
        position: absolute; /* 절대 위치 지정 */
        top: 0.2rem; /* 위에서 145px 떨어진 위치 */
        left: -1.9rem; /* 가운데 정렬 */
        z-index: 4;
        font-weight: 500;
        font-size: 1rem;
        backface-visibility: hidden;
        text-transform: uppercase; /* 모든 텍스트를 대문자로 변환 */
        text-shadow: 
            -0.15px -0.15px 0 #000,  
            0.15px -0.15px 0 #000,
            -0.15px  0.15px 0 #000,
            0.15px  0.15px 0 #000;
    }

    .info-box {
        position: fixed;
        top: 100px;
        left: 43%;
        transform: translateX(-50%);
        width: 70%;
        max-width: 600px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black;
        display: none; /* 초기에는 숨김 */
        font-family: Pokemon Classic;
        z-index: 1000;
    }
    
    .info-box.show {
        display: block; /* 보여질 때만 표시 */
    }
    
    .info-content {
        text-align: left;
    }
    
    .info-content h2 {
        margin-top: 0;
    }
    
    .info-content ol {
        margin-top: 0;
        padding-left: 20px;
    }
    
    .info-content img {
        display: block;
        margin: 10px auto; /* 이미지를 가운데 정렬합니다. */
        max-width: 100%; /* 이미지가 너무 크면 부모 요소에 맞게 크기를 조정합니다. */
    }
    
    h2{
        font-size: 0.8rem;
    }
    
    p{
        font-size: 0.5rem;
    }
    
    ol{
        font-size: 0.7rem;
    }
}

